# Production Enviroment

In [20]:
import pandas as pd
import pickle as pkl

# Load a pipeline object from a pickled file

# Open the pickled file in read binary ('rb') mode
with open('pipe.pkl', 'rb') as file:
    # Use the pickle.load() function to deserialize the pipeline
    pipe = pkl.load(file)

# The 'pipe' object now contains the loaded pipeline from the pickled file
# You can use 'pipe' to perform transformations and predictions

In [21]:
# Gather user input for various features
CreditScore = int(input("Enter your Credit Score: "))
Geography = str(input("Enter your Geographic Location [France, Germany, Spain]: "))
Gender = str(input("Enter your Gender [Male, Female]: "))
Age = int(input("Enter your Age: "))
Tenure = int(input("Enter your Tenure: "))
Balance = float(input("Enter your Balance: "))
NumOfProducts = int(input("Enter your NumOfProducts [1, 2]: "))
HasCrCard = int(input("Enter your HasCrCard [1, 0]: "))
IsActiveMember = int(input("Enter your IsActiveMember [1, 0]: "))
EstimatedSalary = float(input("Enter your Estimated Salary: "))

# Create a dictionary to hold the input data
data = {
    'CreditScore': CreditScore,
    'Geography': Geography,
    'Gender': Gender,
    'Age': Age,
    'Tenure': Tenure,
    'Balance': Balance,
    'NumOfProducts': NumOfProducts,
    'HasCrCard': HasCrCard,
    'IsActiveMember': IsActiveMember,
    'EstimatedSalary': EstimatedSalary,
}

# Create a DataFrame with the collected input data
df = pd.DataFrame(data, index=[0])

Enter your Credit Score: 654
Enter your Geographic Location [France, Germany, Spain]: Spain
Enter your Gender [Male, Female]: Male
Enter your Age: 56
Enter your Tenure: 8
Enter your Balance: 6153
Enter your NumOfProducts [1, 2]: 1
Enter your HasCrCard [1, 0]: 1
Enter your IsActiveMember [1, 0]: 1
Enter your Estimated Salary: 6156

In [22]:
df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,654,Spain,Male,56,8,6153.0,1,1,1,6156.0

In [23]:
pipe.predict(df)

array([0.])